body {
    color: #777777;
    font-family: 'Signika', sans-serif; 
    background-image: url(../images/folk-pattern.png) ;
    
}
header {
    background: #ffffff;
    border-bottom: 3px solid #cccccc;
    overflow: auto;
}

#Name {
    background: #4aaaa5;
    color: #cccccc;
    padding: 0px;
    width: 200px;
    float: left;
    position: relative;
    text-align: center;
    margin-left: 13%;
}

ul {
    list-style-type: none;
    padding: 0px;
    margin-right: 13%;
}

li {
    float: right;
}

a:hover {
    color: #4aaaa5;
    background: #777777;
}

li a {
    display: inline-block;
    width: 60px;
    color: #777777;
    padding: 5px;
    margin: 20px;
    text-align: center;
}

.clear {
    clear: both;
}

.content {
    background: #ffffff;
    border: 2px solid #dddddd; 
    width: 960px;
    position: relative;
    left: 12%;
    margin: 25px;
    overflow: auto;
}

#Profile {
   float: left;
   padding: 10px;
   margin: 10px;
}

p {
    padding: 15px;
    margin: 15px;
}
footer {
    background: #666666;
    text-align: center;
    border-top:5px solid #4aaaa5;
    color: #cccccc;
}

h2 {
    color: #4aaaa5;
    border-bottom: 3px solid #777777;
    padding: 10px;
    margin: 10px;
}

.imgbox {
    float: left;
    width: 200px;
    padding: 3px;
    margin: 20px;
    z-index: 1;
}


.imgbox h4 {
    color: #dddddd;
    background: #4aaaa5;
    text-align: center;
    position: relative;
    top: 0px;
    z-index: 2;
}

form {
    margin: 10px;
    padding: 5px;
}

.imgbox:hover {
    border: 5px solid #4aaaa5;
}

input  {
    width: 100%;
    padding: 10px, 15px;
    margin: 5px;
    display: block;
    border: 2px solid #cccccc;
}

#submit {
    background: #4aaaa5;
    color: #dddddd;
}